@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

a {
    text-decoration: none;
    color: black;
}

h1{
    text-align: justify;
    text-decoration: none;
    padding-bottom: 0;
    
}

p{
    font-size: larger;

}

p.tamanho-dois{
    border-bottom: 10px solid rgb(43, 226, 98) ; /*aquela linha*/
    text-size-adjust: 10px;
    font-style: italic;
}


    
footer{
    text-align: center;
    padding: 20px;
    width: 75%; /*para diminuir a linha*/
    margin: auto; /* para ela ficar no centro e não na direita*/
    
}

    
